
 
     <p><%=section_title%>
    <%=form_with url:menu_items_path ,method: :post do |form|%>
        <div class="add-item">
         <p class="item-label">item : </p>
          <%= form.text_field :item ,class:"item-input"%>
         <div>
         <div class="add-section">
         <p class="item-label">rate : </p>
         <%= form.text_field :rate, class:"item-input"%>
       </div>
      <div class="add-section">
      <p class="item-label">description : </p>
      <%= form.select'description', raw("<option>south indian</option><option>north indian</option><option>chineese</option><option>tandoori</option>"), class:"item-input"%>
      </div>
       <div class="add-section">
      <p class="item-label">category : </p>
      <%= form.select 'category', raw("<option>Breakfast</option><option>lunch</option><option>Dinner</option><optionCold Drinks</option>"), class:"item-input"%>
      </div>
       <div class="add-section">
      <p class="item-label">menu : </p>
      <%= form.select 'menu', options_for_select(menu.collect{ |u| [u.name, u.id] }) , class:"item-input"%>
      </div>
      <div class="add-section">
       <%=form.submit "add", class:"item-submit" %>
      </div>
   <%end%>
