<div class="MenuList">

<p><%=section_title%></p>
<table>
  <tr>
    
    <th> Item</th>
    <th>Rate</th>
    <th>Cart</th>
  </tr>
  <% menus.each do |item| %>
  <tr>
    <td><%=item.name%></td>
    <td><%=item.price%></td>
    <td><%= form_with(url: order_item_path(item.id), method: :put) do %>  
       <label for="quantity">Quantity:</label>
       <%= number_field_tag(name = 'quantity' ,nil,min: 1,class: 'quantity_field')%> 
       <%= button_tag 'Add to cart',type:'submit'%>
    <% end %></td>
  </tr>
  <% end %>
</table>
</div>

