<hr>
<section>
 <div>
   <% order_items.each do |item|%>
     <p>item:       <%= item.menu_item_name %>  </p>
     <p>price:       <%= item.menu_item_price%>   </p>
     <p>quantity:   <%= item.quantity %>         </p>
     <p> sum = <%= (item.menu_item_price * item.quantity) %> </p>
    <%end%>
    
     <p> order cost =   <% sum = 0%>
                   <% order_items.each do |item|%> 
                 <% sum = sum + (item.menu_item_price * item.quantity) %>
                      <%end%>
                        <%= sum %>
      </p>
  </div>
  <hr>
   <h3> your previous orders </h2>
    <% cart.each do |order|%>
      <li> 
       ordered on: <%=order.date%>
       delivered at: <%=order.delivered_at%>
       order status: <%=order.status%>
      </li>
    <%end%>

   