<hr>
<section>
 <div>

    <% order_items.each do |item|%>
     <p>item:       <%= item.menu_item_name %>  </p>
     <p>price:       <%= item.menu_item_price%>   </p>
     <p>quantity:   <%= item.quantity %>         </p>
     <p> sum = <%= (item.menu_item_price * item.quantity) %> </p>
     <p>
       <%= form_with(url: order_item_path(item.id), method: :delete) do %>  
          <%= button_tag 'remove',type:'submit'%>
      <%end%>
    </p> 
    <%end%>
    
    <p> order cost =   <% sum = 0%>
                   <% order_items.each do |item|%> 
                 <% sum = sum + (item.menu_item_price * item.quantity) %>
                      <%end%>
                        <%= sum %>
    </p>
    <p><% if sum !=0%>
       <%= form_with(url: order_path(order.id), method: :put) do %>  
       <%= button_tag 'place order',type:'submit'%>
       <% end %>
       <p>
       <%= link_to "add more", menu_items_path %>
       </p>  
       <%else%>
        <h3> why don't you try out some from our menu ? </h3>
        <p>
        <%=link_to "menus", menu_items_path%>
        <p>
        <%end%>
    </p>
    

    
  </div>
  </section>